
@font-face{
    font-family: sixteenSegments;
    src: url(/css/led16sgmnt2-font/Led16Segment2-B99V.ttf);

}
@font-face{
    font-family: chubbyGrubby;
    src: url(/css/Chubby\ And\ Groovy.ttf);
}
html, body{
    width: 100vw;
    margin: 0%;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/css/Background4.jpg);
    background-size: 101%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 10px 16px 51px 8px hsla(301, 89%, 75%, 0.8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    width: 100vw;
    font-family: chubbyGrubby;
    text-shadow: 1px 2px 5px rgba(248, 235, 246, 0.8);
    color: rgba(255, 255, 255, 0.9) /* rgb(240, 149, 46)*/;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
    /* border-radius: 10px; */
    border: 1px solid hsla(321, 89%, 75%, 0.3);
    padding: 5%;
}
main{
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.titulo h1{
    margin: 5%;
    font-size: calc(15vw - 1rem);
    text-align: center;
    transform: scaleX(1.1) scaleY(1.3);
    align-self: flex-start;
}
/* "ghost" effect on Titulo
text-shadow: 21px 12px 2px rgba(248, 235, 246, 0.8); */
.countDown {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 40vh;
    padding-right: 2vw;
}
.timer{
    text-align: right;
    font-family: sixteenSegments;
    transform: scaleY(1.5) skewX(-10deg);
    text-shadow: 1px 2px 4px rgba(8, 5, 6, 0.9),
                2px 3px 6px rgba(248, 245, 246, 0.8) ;
    color: white;
    min-width: 18vw;
    font-size: 16vw;
    margin-block: auto;
}
span{
    font-family: sixteenSegments;
    color: white;
    transform: translateY(2.5rem) scaleY(1.5) skewX(-10deg);
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
#dias{
    transform: translateX(-1rem) scaleY(1.5) skewX(-10deg);
}
.button{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: center;
}

button{
    border-radius: 6px;
    padding: .2em .5em;
    color: aliceblue;
    font-weight: 700;
    font-size: 2rem;
    background-color: hsla(301, 89%, 75%, 0.8);
    box-shadow: 0px 3px 21px 6px hsla(301, 19%, 35%, 0.8);
    border: 2px hsl(290, 29%, 50%) solid;
}

button:hover{
    cursor: pointer;
    background-color: hsla(301, 89%, 85%, 0.9);
    box-shadow: 0px 2px 29px 9px hsla(301, 19%, 55%, 0.8);
    border: .2px hsla(300, 80%, 73%, 0.5) solid;
}
i{
    color: hsla(0, 0%, 90%, 0.8);
}
i:hover{
    cursor: pointer;
    color: hsla(0, 0%, 100%, 0.99);
    text-shadow: 1px 2px 5px rgba(248, 235, 246, 0.8),
            -1px -2px 5px rgba(248, 235, 246, 0.8);
}
footer{
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    background-color:  hsla(301, 89%, 75%, 0.15);
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
}

.footerContainer{
    width: 50%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    text-align: justify;
}

.glow{
    animation: glow 3s ease-in-out 2s infinite both alternate-reverse;
}

@keyframes glow {
    from{
        box-shadow: 0px 6px 11px 3px hsla(301, 89%, 75%, 0.8);
        -webkit-box-shadow: 0px 6px 11px 3px hsla(301, 89%, 75%, 0.8);
-moz-box-shadow: 0px 6px 11px 3px hsla(301, 89%, 75%, 0.8);
        backdrop-filter: blur( 28.0px );
        -webkit-backdrop-filter: blur( 28.0px );
        background: rgba( 255, 255, 255, 0.05 );
    }
    to{
        box-shadow: 0px 0px 0px 0px hsla(301, 89%, 75%, 0.8);
        -webkit-box-shadow: 0px 0px 0px 0px hsla(301, 89%, 75%, 0.8);
-moz-box-shadow: 0px 0px 0px 0px hsla(301, 89%, 75%, 0.8);
        backdrop-filter: blur( 8.0px );
        -webkit-backdrop-filter: blur( 8.0px );
        background: rgba(248, 135, 246, 0.17);
    }
}
@media (min-width:800px) {
    body{
        background-image: url(/css/Background5.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top center;
    }
    .titulo {
        font-size: 2.9em;
        margin: .3rem;
        height: 7em;
    }
    .timer{
        height: 7rem;
    }
    .countDown{
        font-size: 7rem;
        display: flex;
        height: 2.2em;
    }
}